#########################
# general
#########################

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
gcc-debug/
gcc-release/
addons.make
[Mm]akefile
config.make
.gitkeep
[Dd]ebug*/
[Rr]elease*/
gcc-debug/
gcc-release/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.cpp.eep
*.cpp.elf
*.cpp.hex

#########################
# IDE
#########################

# VSCode
*.code-workspace
.vscode

# XCode
*.entitlements
*.xcconfig
*.plist
*.yml
tests/**/*.entitlements
tests/**/*.xcconfig
tests/**/*.plist
tests/**/*.yml
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Android Studio
.idea
.gradle
gradle
gradlew
gradlew.bat

# QtCreator
*.qbs.user
*.pro.user
*.pri


#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*
examples/ios/**/mediaAssets

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

/libs/openFrameworksCompiled/project/android/**/build/
/libs/openFrameworksCompiled/project/android/**/.cxx/
/libs/openFrameworksCompiled/project/android/build*

examples/android/**/build.gradle
examples/android/**/gradle.properties
examples/android/**/proguard.cfg
examples/android/**/proguard-rules.pro
examples/android/**/template.config
examples/android/**/AndroidManifest.xml
examples/android/**/OFActivity.java

# Ignore compiled output or build dirs
examples/android/**/build/
examples/android/**/.cxx/

# Ignore launcher icons or PNGs
examples/android/**/*.png

# Ignore CMake files if autogenerated
examples/android/**/CMakeLists.txt

# Android Studio
*.iml

#########################
# miscellaneous
#########################

.mailmap
.cxx/

**/[Cc]onfig.make
*.key
*.pem